In [15]:
import pandas as pd
import numpy as np
import seaborn as sns

In [16]:
df = sns.load_dataset('planets')

### Print/ Display the first 5 rows of dataframe

In [17]:
first_5_row = df.head(5)
print(first_5_row)

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

### Print/ Display the last 5 rows of dataframe

In [18]:
last_5_row = df.tail(5)
print(last_5_row)

       method  number  orbital_period  mass  distance  year
1030  Transit       1        3.941507   NaN     172.0  2006
1031  Transit       1        2.615864   NaN     148.0  2007
1032  Transit       1        3.191524   NaN     174.0  2007
1033  Transit       1        4.125083   NaN     293.0  2008
1034  Transit       1        4.187757   NaN     260.0  2008

### How many unique methods are there?

In [19]:
num_unique_methods = df['method'].nunique()
print(f"there are {num_unique_methods} unique methods.")

there are 10 unique methods.

### What is the number of data collected in each year?

In [20]:
value_counts = df['year'].value_counts()
print(value_counts)

year
2011    185
2012    140
2013    118
2010    102
2009     98
2008     74
2007     53
2014     52
2005     39
2002     32
2006     31
2004     26
2003     25
2000     16
1999     15
2001     12
1996      6
1998      5
1992      2
1995      1
1997      1
1989      1
1994      1
Name: count, dtype: int64

### Which columns have missing values and how many?

In [21]:
for col in df.columns:
    if df[col].isnull().any():
        num_mvalues = df[col].isnull().sum()
        print(f"column '{col}' has {num_mvalues} missing values")
print("other columns dont have any missing values.")

column 'orbital_period' has 43 missing values
column 'mass' has 522 missing values
column 'distance' has 227 missing values
other columns dont have any missing values.

### Write docstring for the function below.

In [22]:
def do_something(x, y, z):
    """
    calculates the '1 / ((1/x) + (1/y) + (1/z))' and returns it.

    Args:
    x (float): argument x for the calculation.
    y (float): argument y for the calculation.
    z (float): argument z for the calculation.

    Returns:
    float: the result of the calculation.
    """   

    result = 1 / x + 1 / y + 1 / z

    return 1 / result

### Get (print) the docstring of the function defined above.

In [23]:
print(do_something.__doc__)

    calculates the '1 / ((1/x) + (1/y) + (1/z))' and returns it.

    Args:
    x (float): argument x for the calculation.
    y (float): argument y for the calculation.
    z (float): argument z for the calculation.

    Returns:
    float: the result of the calculation.

### Call do_something function for the (11,13,15) values and save it as result

In [24]:
result = do_something(11,13,15)

### In the variable 's' containing a sentence, extract the word using result defined above as index

In [25]:
s = "I love Machine Learning and Deep Learning"

# use int() to convert the result to integer
# your code here
s = s.split()
index = int(result)
s = s[:index] + s[index+1:]
s = ' '.join([str(word) for word in s])
print(s)

I love Machine Learning Deep Learning

### Sort the given array below, do not use built in functions. All sorting methods are allowed.

In [26]:
import random

arr = [random.randint(1, 100) for i in range(10)]

def merge_sort(arr):
    ## doesn't return anything, modifies the array.
    if len(arr) <= 1:
        return

    mid = len(arr) // 2
    L = arr[:mid]
    R = arr[mid:]
    merge_sort(L)
    merge_sort(R)
    i = j = k = 0
    while i < len(L) and j < len(R):
        if L[i] <= R[j]:
            arr[k] = L[i]
            i += 1
        else:
            arr[k] = R[j]
            j += 1
        k += 1

    while i < len(L):
        arr[k] = L[i]
        i += 1
        k += 1

    while j < len(R):
        arr[k] = R[j]
        j += 1
        k += 1


print("before sort:", arr)
merge_sort(arr)
print("after sort:", arr)

before sort: [53, 71, 26, 12, 79, 49, 61, 99, 39, 71]
after sort: [12, 26, 39, 49, 53, 61, 71, 71, 79, 99]

### define a recursive function to calculate input numbers factorial named factorial

In [27]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return x * factorial(x-1)

rand_int = random.randint(1,20)
print(f"factorial({rand_int}) = {factorial(rand_int)}")

factorial(9) = 362880

### define a function to merge the given arrays and calculate the median named twoMedian

In [28]:
def twoMedian(arr1, arr2):
    arr = arr1 + arr2
    merge_sort(arr) ## using the merge_sort function which i've written for one of the previous questions. i hope thats not illegal :).
    l = len(arr)
    if l % 2 == 1:
        return arr[(l // 2)]
    else:
        return (arr[(l//2) - 1] + arr[(l//2)]) / 2
    
arr1 = [random.randint(1, 100) for i in range(10)]
arr2 = [random.randint(1, 100) for i in range(10)]
print(arr1, arr2)
print(twoMedian(arr1, arr2))

[98, 85, 96, 77, 60, 41, 28, 77, 13, 51] [84, 16, 48, 77, 15, 8, 34, 8, 30, 86]
49.5